{% set title = 'Complete-account' %}
{% extends 'base.html' %}
{% block content %}
<header>
      
  <img class="logo" src="css/images/logo.svg">

<nav>ALready have an account?
  <a href="index.html" class="navBut">Log in</a>
</nav>
</header>
<div class="content">
<section class="wrapper">
  <form>
    <span>Complete your account</span>
    <input type="password" placeholder="Password" class="inputForSmthing">
    <input type="password" placeholder="Confirm password" class="inputForSmthing">
    <section class="wrapper-checkbox"> 
      <div class="wrapper-line"><input type="checkbox" id="item_1"><label for="item_1">I agree to HOOD </label><a>&nbsp Terms of Service</a></div>
      <section class="wrapper-line"><input type="checkbox" id="item_2"><label for="item_2">I agree to HOOD </label><a>&nbsp Privacy Police</a></section>
    </section>
    <div class="g-recaptcha" data-sitekey="6LfrHHYaAAAAAO5f8HlOZd_rCfbgvFslu1H9IwzZ"></div>
    <input type="button" value="Done!" class="ButforAction">


  </form>
</section>
</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{%endblock%}