{% set title = 'Reset password' %}
{% extends 'base.html' %}
{% block content %}
<header>
  <img class="logo" src="css/images/logo.svg">
  <nav>Back to
    <a href="index.html" class="navBut">Sign in</a>
  </nav>
</header>
<div class="content">
  <section class="wrapper">
    <form>
      <span>Enter your e-mail to reset your password</span>
      <input type="text" placeholder="Email" class="inputForSmthing">
      <input type="button" value="Send" class="ButforAction">
    </form>
  </section>
</div>
{%endblock%}