{%extends 'baseOfProfile.html'%}
{% set title = 'Profile'%}
{% set profile = 'activePage'%}

{%block profile%}
<div class="wrap">
  <div class="cont">
  <nav class="info">
    <a class="navProfile" href="profile.html">Personal information</a>
    <a class="navProfile" href="#" id="settings1">Account information</a>
  </nav>
  <div class="wrap-cont">
    <div><span>Username</span>
      <input type="text" class="inputForSmthing">
    </div>
    <div><span>E-mail</span>
      <input type="text" class="inputForSmthing">
    </div>
  </div>
  <div class="resetpass">
    <a href="#">Change password ></a>
  </div>
  </div>
  </div>
  
{%endblock%}
